* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}

#root {
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}

h1 {
  color: purple;
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #f55a5a;
}

header > img {
  height: 24px; 
}

header > p {
  color: #fff;
  letter-spacing: -1px;
}