* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
}

.container {
    height: 100vh;
}

nav {
    background-color: #21222A;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 20px;
}

.nav-title {
    color: #61DAFB;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.5px;
    margin-right: auto;
    margin-left: 12px;
}

.nav-extra-title {
    color: #DEEBF8;
}

.main-wrapper {
    color: #ffffff;
    background-color: #282d35;
    padding: 36px;
    height: 90vh;
    background-image: url('../src/assets/react-logo-2.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 300px;
}

.main-title {
    margin-bottom: 24px;
}

ul {
    margin-left: 50px;
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #61DAFB;
    margin-left: -1em;
    display: inline-block;
    width: 1em;
}

ul > li {
    margin-bottom: 12px;
}